@import "../../scss/variables";

.modal__backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 480px) {
    position: static;
  }

}

.modal__backdrop__embed {
  position: static;
  top: 60rem;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: $white;
  text-shadow: none;
  box-shadow: $border-thickness-bold * 1.5 $border-thickness-bold * 1.5 0 rgba(0, 0, 0, 0.25);
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  @media (max-width: 480px) {

  }
}

.modal__header,
.modal__footer {
  padding: $font-size;
  display: flex;
}

.modal__header {
  border-bottom: $border-thickness solid $main-color-a;
  font-weight: bold;
  color: $main-color-a;
  justify-content: space-between;
}

.modal__body {
  position: relative;
  padding: ($font-size * 0.5);
  border-bottom: $border-thickness solid $main-color-a;
}

.btn--default {
  border: none;
  font-size: $font-size;
  padding: $font-size*0.25 $font-size*0.5;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  &:after {
    background: linear-gradient(to right, $main-color-a 50%, $main-color-c 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }
}

.btn--close {
  border: none;
  font-size: $font-size;
  padding: $font-size*0.25 $font-size*0.5;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  &:after {
    background: linear-gradient(to right, $main-color-a 50%, $main-color-c 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }
}

.btn--green {
  background-color: transparent;
  border: none;
  color: $black;
  transition: all $animation-duration ease-out;

  &:after {
    z-index: -1;
    background: linear-gradient(to right, $main-color-b 50%, $white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }

  &:hover {
    color: $white;

    &:after {
      background-position: left bottom;
    }
  }
}

.btn--teal {
  background-color: transparent;
  border: none;
  color: $black;
  transition: all $animation-duration ease-out;

  &:after {
    z-index: -1;
    background: linear-gradient(to right, $minor-color-b 50%, $white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }

  &:hover {
    color: $white;

    &:after {
      background-position: left bottom;
    }
  }
}

.choice-grid {
  display: grid;
  grid-template-columns: (1fr 1fr);
  grid-template-rows: auto;
}

.choice-grid__button {
  z-index: 1;
  font-family: $font-family-header;
  background-color: transparent;
  color: $black;
  font-size: 1em;
  padding: 0.5rem 1em;
  border: none;
  cursor: pointer;
  position: relative;
  transition: all $animation-duration ease-out;

  margin: 0;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: $animation-duration;
  transition-duration: $animation-duration;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $white;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: $animation-duration;
    transition-duration: $animation-duration;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  &:hover img{
    -webkit-filter: invert(100%);
  }

  &:hover, &:focus, &:active {
    color: $white;
    &:after {
      background-position: left bottom;
    }
  }

  &:hover:before, &:focus:before, &:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  &:after {
    z-index: -1;
    background: linear-gradient(to right, $main-color-a 50%, $white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all $animation-duration ease-out;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: none;
    transform: skewX(0);
  }

}
