
.notifications {
  width: 450px !important;
}

.fail-notification {
  padding: 10px;
  margin: 0 5px 5px;
  border-left: 5px solid #FF3C3C;
  font-size: 16px;
  color: #FFFFFF;
  background: #D61224 !important;
}

.info-notification {
  padding: 10px;
  margin: 0 5px 5px;
  border-left: 5px solid $dark-blue;
  font-size: 16px;
  color: #FFFFFF;
  background: $blue !important;
}

.success-notification {
  padding: 10px;
  margin: 0 5px 5px;
  border-left: 5px solid #0ea54b;
  font-size: 16px;
  color: #FFFFFF;
  background: #25d612 !important;
}
