@import "variables";

.notifications {
  width: 450px !important;
}

.notification {
  padding: $font-size/2;
  margin: 0 $font-size/2 $font-size/2;
  font-size: $font-size;
  color: $white;
}

.notification--alert {
  border-left: $border-thickness-bold solid #FF3C3C;
  background: $notification-fail !important;
}

.notification--info {
  border-left: $border-thickness-bold solid $black;
  background: $notification-info !important;
}

.notification--success {
  border-left: $border-thickness-bold solid #0ea54b;
  background: $notification-success !important;
}
