$font-size: 18px;
// $font-family: "Roboto Slab", sans-serif; // Roboto Slab
$font-family: 'Roboto', sans-serif;
$font-weight: 400;
$line-height: 1.2;

$font-family-header: 'Museo700-Regular', serif;
$font-weight-header: 700;

$border-thickness: 2px;
$border-thickness-bold: $border-thickness * 2;

$black: #050505;
$white: #F5F5F5;
$red: #d61224ff;
$orange: #f29121ff;
$blue: #12d1d1ff;
$dark-blue: #001433ff;

$skew: -15deg;

$animation-duration: 200ms;

$mobile-breakpoint: 480px;
