$font-size: 18px; //Updated from 16px to 18px by Niko due to Kosta's feedback
$font-size-small: 16px;
$font-size-medium: 18px;
$font-size-big: 19px; //Updated from 18px to 19px by Niko

// $font-family: "Roboto Slab", sans-serif; // Roboto Slab
$font-family: 'Roboto', sans-serif;
$font-weight: 300;
$line-height: 1.2;
$line-height-big: 1.3;
$line-height-headline: 1.1;

$font-family-header: 'Museo700-Regular', serif;
$font-weight-header: 700;

$border-thickness: 2px;
$border-thickness-bold: $border-thickness * 2;

$black: #050505;
$white: #F5F5F5;
$main-color-a: #1B0650;
$main-color-b: #4AAE9B;
$main-color-c: #FFC562;
$minor-color-a: #560541;
$minor-color-b: #12D1D1;
$minor-color-c: #CA3E0E;

$notification-info: #050505;
$notification-fail: #D61224;
$notification-success: #25d612;

$background-color: #560541;
$background-separator: #050505;

$skew: -15deg;

$animation-duration: 200ms;

$mobile-breakpoint: 480px;
