// @import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import "reset";
@import "variables";

/* width */
::-webkit-scrollbar {
  width: $font-size * 0.5;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.4);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.8);
}

body {
  color: $white;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 480px) {
    font-size: $font-size-medium;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-header;
}

a {
  color: $white;
}

main {
  max-width: 65vw;
  margin: auto;
}

b {
  font-weight: bold;
}

// this applies to text on small screens (mobile)
@media (max-width: 480px) {
  main {
    font-size: $font-size-big;
    line-height: 1.3em;
    max-width: 100%;
    padding: 0.5em;
  }
}

::selection {
  background-color: $black;
  color: white;
}

@import "forms";
@import "notifications";
@import "modals";

.container-auth{
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.box-auth {
  margin: auto;
  margin-top: 5vh;
  max-width: 800px;
  max-height: 95vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
  background-color: $white;
  text-shadow: none;
  color: $black;
  font-size: $font-size;
  padding: 1rem;
  font-weight: normal;

  label {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
  }
  button {
    margin: auto;
    padding: 1rem 2rem;
    z-index: 1;
    background-color: transparent;
    color: $black;
    font-size: 1em;
    border: none;
    cursor: pointer;
    position: relative;
    transition: all $animation-duration ease-out;
    &:after {
      z-index: -1;
      background: linear-gradient(to right, $main-color-a 50%, darken($white, 10%) 50%);
      background-position: right bottom;
      background-size: 200% 100%;
      transition: all $animation-duration ease-out;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: skewX($skew);
      box-shadow: $border-thickness-bold $border-thickness-bold 0 black;
    }
    &:hover {
      color: $white;
      &:after {
        background-position: left bottom;
      }
    }
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: $main-color-a;
    font-weight: bold;
  }

  form {
    display: flex;
    flex-flow: column;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: darken($white, 50%);
    opacity: 1; /* Firefox */
  }

  input {
    color: $black;
    padding: 0.5rem;
    background-color: darken($white, 10%);
    border: $border-thickness solid transparent;
    transition: all $animation-duration;
    &:focus {
      transition: all $animation-duration;
      border-color: $main-color-a;
    }
  }

  input[type="checkbox"]  {
    border: 2px solid $main-color-a;
  }

  input[type="checkbox"]:checked {
    background-color: $minor-color-c;
  }

  .box-login {
    padding: 0.5rem;
    border-right: $border-thickness solid darken($white, 10%);

    @media (max-width: 480px) {
      border-right: none;
    }
  }
  .box-register {
    padding: 0.5rem;
  }
}

.button-container {
  display: block;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.article-temp {
  font-weight: 400;
  line-height: $line-height-big;
  font-size: 100%;
  p {
    margin-bottom: 1.15rem;
  }

  h1, h2, h3, h4, h5 {
    margin: 2.75rem 0 1.05rem;
    font-family: $font-family-header, sans-serif;
    text-shadow: $border-thickness-bold $border-thickness-bold 0 $black;
    line-height: $line-height-headline;
  }

  h1 {
    margin-top: 0;
    font-size: 3.052em;
  }

  h2 {font-size: 2.441em;}

  h3 {font-size: 1.953em;}

  h4 {font-size: 1.563em;}

  h5 {font-size: 1.25em;}

  small, .text--small {font-size: 0.8em;}

  .text--big {
    z-index: 3;
    font-size: 1.25rem;
  }
}

.header__h2 {
  font-family: $font-family-header;
  text-shadow: $border-thickness-bold $border-thickness-bold 0 $black;
  margin: 0 0 0.5rem;
  line-height: $line-height;
  font-size: 2.441em;
  text-align: center;
  @media (max-width: 480px) {
    margin: 0.5rem 0 0.5rem;
  }
}

.header__p {
  font-weight: 400;
  line-height: $line-height-big;
  font-size: 100%;
  text-align: center;
}

.img__default__container {
  margin: 10%;
}