// @import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "reset";
@import "variables";

/* width */
::-webkit-scrollbar {
  width: $font-size * 0.5;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.4);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.8);
}

body {
  background: $orange url("assets/background.svg") no-repeat;
  background-size: cover;
  color: $white;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 480px) {
    font-size: 16px;
  }
}

a {
  color: $white;
}

main {
  font-size: 1.5rem;
  text-shadow: 0.1em 0.1em 0 #00000080;
  max-width: 70vw;
  margin: auto;
}

@media (max-width: 480px) {
  main {
    font-size: 20px;
    line-height: 1.3em;
    max-width: 100%;
    padding: 0.5em;
  }
}

::selection {
  background-color: $blue;
  color: white;
}

@import "forms";
@import "notifications";
@import "modals";
